@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$primary-color: #1DB954;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 2;
}

body {
    background-color: #141414;
    color: #FAFAFA;
    font: {
        family: 'Open Sans', sans-serif;
        size: 16px;
    }
}

#app {
    #bg-audio {
        background-color: #D4D4D4;
        position: absolute;
        top: 0;
        left: 0;
        height: 260px;
        width: 100%;
        z-index: 1;
    }
    .player {
        margin: 0px auto;
        width: 400px;
        .player-audio {
            margin-bottom: 20px;
            text-align: center;
            #audio-cover {
                box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.75);
                position: relative;
                top: 50px;
                max-width: 300px;
            }
            .audio-info {
                margin-top: 70px;
                #info-group {
                    color: #9A9A9A;
                }
                #info-title {
                    color: #FAFAFA;
                }
            }
        }
        .player-timeline {
            align-items: center;
            display: flex;
            margin: 0px auto 20px auto;
            justify-content: center;
            width: 400px;
            #timeline-current, #timeline-total {
                color: #CCC;
                font-size: 12px;
            }
            .timeline-bg {
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0px 14px;
                height: 2px;
                width: 270px;
                #timeline-line {
                    background-color: rgba(255, 255, 255, 0.6);
                    display: block;
                    transition: width 0.2s;
                    height: 2px;
                    width: 0%;
                }
            }
        }
        .player-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin: 10px auto 0px auto;
            width: 200px;
            #control-previous, #control-next {
                font-size: 25px;
            }
            #control-play {
                font-size: 80px;
                &.active {
                    color: $primary-color !important;
                }
            }
            #control-previous, #control-play, #control-next {
                cursor: pointer;
                transition: color 0.2s;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}
